.coveralls.yml
*.pyc
.coverage
.tox
.pytest_cache
.ipynb_checkpoints
.executed_notebooks
coverage.xml
service-account.json
client-secrets.json
__pycache__
**/migrations/*
lib
testing/resources/test-env.sh
testing/resources/service-account.json
testing/resources/client-secrets.json
.cache
.nox
*sponge_log.xml
.vscode/
.DS_store
venv/
.idea/
